.innerPostDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50px;

  & h3 {
    margin: 0;
  }
  & p {
    margin: 0;
  }
}

.tasteDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;

  flex-wrap: wrap;
}

.outterPostDiv {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  background-color: #3c2a21;
  padding: 0.8rem 0.5rem;
  & a {
    text-decoration: none;
    color: #e5e5cb;
  }
}

.outterTasteDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
}

.photoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem;
  background-color: #3c2a21;
  height: fit-content;
  width: fit-content;
  & a {
    text-decoration: none;
    color: #e5e5cb;
  }
  & img {
    width: 50%;
    height: 100%;
  }
}

.page {
  padding-bottom: 80px;
}
