.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1a120b;
  padding: 20px 0px;
  border-top: 0.5px solid #e5e5cb;

  & nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
}
