.post {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3c2a21;
  margin: 30px;
  padding: 40px;
  & img {
    width: auto;
    height: auto;
    border-radius: 40%;
  }
  & h3 {
    margin: 0px;
  }
  & p {
    margin: 0px;
    font-size: 0.8rem;
  }
}
