.upperPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3c2a21;
  padding: 20px;
  & img {
    width: auto;
    height: auto;
    border-radius: 10px;
  }
}
